@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;500;700&family=Lato:wght@300;400;700&family=Smooch+Sans:wght@300;500;700&family=Wallpoet&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
 
}
:root {
  font-size: 0.785rem;
  font-family: "Lato", sans-serif;
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --dark: #292a2b;
}


input{
  font-size: 1.5em;
}