.container {
    width: 100vw;
    height: auto;
  display: flexbox;
  justify-content: center;
  text-align-last: center;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  padding: 1.5em;
}
.nombre {
    font-size: 2.3em;
    font-family: wallpoet;
}

.titulo {
    font-size: 2.6em;
    
}
.imagen {
    width: 750px;
    height: 620px;
    border-radius: 5%;
}
.principal {
    padding: 1em;
    font-size: 2em;
}
p {
    padding-bottom: 1em;
    font-size: 1.5em;
}
li {
    padding: .2em;
}
.nota{
    padding-top: .5em;
    color: red;
}
.boton{
    margin-top: 0.5em;
    width: 300px;
    height: 20px;
    border-radius: 5px;
    background-color: dimgray;
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    text-decoration: none;
  }
  @media (max-width: 576px){
    .imagen{
      max-width: 220px;
      max-height: 300px;
      
  
    }
  }
  @media (max-width: 900px){
    .imagen{
      max-width: 320px;
      max-height: 400px;
    }
  }