.footer{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid var(--dark);
    margin: 0;
    padding: 1em 2em;
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: fredoka;
    font-size: 1.4rem;
    /* min-width: 50%; */
}
.nombre{
font-size: 2.3em;
font-family: wallpoet;
}

.direccion{
float: left;
}
/* .logo{
    max-width: 180px;
    height: auto;
    padding: 1.5em;
} */
.redes{
    max-width: 50px;
    font-size: 2rem;
    cursor: pointer;
    padding: 1.5em;
    margin: .5em;
    float: right;
    transition: all 2s ease;
}
.face:hover{
    font-size: 2em;
    color: blue;
}
.insta:hover{
    font-size: 2em;
    color: orange;
}
.what:hover{
    font-size: 2em;
    color: greenyellow;
}
